<!--<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Image Posts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" type="text/css" href="style.css" >

</head>!-->

<body>
    <div id="core-content-wrapper">
        <section class="page head">
            <div><h1><b>{{post_title}}</b></h1></div><a href="/"><h1 style="display: inline-block; float:right">HOME</h1></a>
        </section>
        <section class="page sidebar">
            <p>{{username}}</p>
            <table id="comments-table">
                <tr>comment here</tr>
            </table>
            {{#if logged}}
            <textarea id="comment-text"></textarea>
            <button onclick="executecomment()" id="comment-submit">comment</button>
            {{/if}}
        </section>
        <section class="page posts-content">
            <div>
                <div id="posts-table">
                            <ul>
                                <li>
                                    <img class="content-image" src="{{image}}">
                                </li>
                                <li>
                                    <p>{{description}}</p>
                                </li>
                                <li class="post-meta">
                                    <p>{{image_date}}</p>
                                </li>
                            </ul>
                    <!--<tr class="post-row">
                        <td class ="post-info">
                            <ul>
                                <li class="post-title">
                                    <p>my evil post 2</p>
                                </li>
                                <li class="post-meta">
                                    <p>4/20/lol</p>
                                </li>
                            </ul>

                        </td>
                        <td class="post-content">
                            <ul>
                                <li>
                                    <img src="meat-dog.gif">
                                </li>
                                <li>
                                    <p>slkjhfhlknajsd</p>
                                </li>
                            </ul>

                        </td>
                    </tr>!-->
                </div>
            </div>
        </section>
        <!-- <section>
            <h2>Author</h>
        </section>
        <section class="post image-content">
            <img src="tumblr_0e0c53528cbb45c065f64d8ebb171794_c5347f29_540.png">
        </section>
        <section class="page text-content">
            <p> skjghealkjhgkjpsdafgkl;jdsrglkhjnasd</p>
        </section>
        <section class="page content-info">
            <p>date</p>
        </section> -->
    </div>
    
  
</body>
<!--</html>!-->